<% if @loan.errors.any? %>
  <%= error_message(@loan.errors.full_messages, 'alert-error')%>
<% end %>
<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-pencil"></i>
    </span>
    <h5>Calculate</h5>
  </div>
  <div class="widget-content">
    <div class="row">
      <div class="span2"></div>
      <div class="span8 ">
        <div class="row">&nbsp;</div>
        <%= simple_form_for(@loan, :url => loan_track_loans_path, 
          :html => { :method => :put } ) do |f| %>
          <div class="row">
            <div class="span4">
              <%= f.label "I am",:class=>"control-label" %>
            </div>
            <div class="span6">
              <%= f.radio_button :customer_type, '1' %> Loaner
              <%= f.radio_button :customer_type, '0' %> Borrower
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :name,:class=>"control-label" %>
            </div>
            <div class="span4">
              <%= f.text_field :name, :placeholder => "Last name"%>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :amount,:class=>"control-label" %>
            </div>
            <div class="span4">
              <%= f.text_field :amount %>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :interest_rate, :class=>"control-label" %>
            </div>
            <div class="span4">
              <%= f.text_field :interest_rate %>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :loan_term, :class=>"control-label" %>
            </div>
            <div class="span6">
              <%= f.text_field :loan_term, :style=>"width: 53px !important" %>
              <%= f.radio_button :monthly, '1' %> Monthly
              <%= f.radio_button :yearly, '1' %> Yearly
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :loan_type, :class=>"control-label" %>
            </div>
            <div class="span4">
              <%= f.select :loan_type, TrackLoan::PAYMENTMADE.collect{|c| [c[0], c[1]]}, :selected => (f.object.loan_type), :class=>"select_box_fix" %>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :payments_made, :class=>"control-label" %>
            </div>
            <div class="span4">
              <%= f.text_field :payments_made %>
            </div>
          </div>
          <div class="row">
            <div class="span4">
              <%= f.label :date_select, :class=>"control-label" %>
            </div>
            <div class="span8">
              <%= f.date_select :payment_start_date, :prompt => { :day => 'day', :month => 'month', :year => 'year' }  %>
            </div>
          </div>
          <div class="row dropdown_bottom_margin">
            <div class="span4">
              <%= f.label :interest_from, :class=>"control-label" %>
            </div>
            <div class="span8">
              <%= f.date_select :interest_from, :prompt => { :day => 'day', :month => 'month', :year => 'year' }  %>
            </div>
          </div>
          <div class="row">
            <div class="span3"></div>
            <div class="span6 offset1">
              <%= f.submit "Calculate", :class =>"btn btn-primary" %>
              <%= link_to "Back", customer_dashboard_index_path, :class =>"btn btn-inverse" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="span2"></div>
    </div>
  </div>
</div>   
