<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-pencil"></i>
    </span>
    <h5>Preview</h5>
  </div>
  <div class="widget-content">
    <div class="row">
      <div class="span4"></div>
      <div class="span8">
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="span4"><%= 'I Am' %></div>
          <div class="span6"><%= @loan.customer_type %></div>
        </div>
        <div class="row">
          <div class="span4"><%= 'Amount' %></div>
          <div class="span6"><%= @loan.amount %></div>
        </div>
        <div class="row">
          <div class="span4"><%= 'Intrest Rate' %></div>
          <div class="span6"><%= @loan.interest_rate %></div>
        </div>
        <div class="row">
          <div class="span4"><%= 'Loan Term' %></div>
          <div class="span6"><%= @loan.loan_term %></div>
        </div>
        <div class="row">
          <div class="span4"><%= 'Final Amount' %></div>
          <div class="span6"><%= @loan.final_amount %></div>
        </div>
      </div>
      <div class="span2"></div>
    </div>
  </div>
</div>


