<div class="control-group">
  <label class="control-label">First Name</label>
  <div class="controls">
    <%= f.text_field :first_name, :placeholder => "First name"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Last Name</label>
  <div class="controls">
    <%= f.text_field :last_name, :placeholder => "Last name"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <%= f.text_field :email, :placeholder => "Email"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Password</label>
  <div class="controls">
    <%= f.password_field :password, :placeholder => "Password"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Confirm Password</label>
  <div class="controls">
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Address</label>
  <div class="controls">
    <%= f.text_field :address, :placeholder => "Address"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">City</label>
  <div class="controls">
    <%= f.text_field :city, :placeholder => "City"%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Phone Number</label>
  <div class="controls">
    <%= f.text_field :phone_number, :placeholder => "Confirm Password"%>
  </div>
</div>

<div class="form-actions">
  <%= f.submit @customer.new_record? ? "Save" : "Update", :class=>"btn btn-primary" %>
</div>
